.item_count_input {
    max-width: 130px;
    border: 2px solid green;
    border-radius: 20px;
    overflow: hidden;
}

.minus,
.plus {
    position: absolute;
    width: 35px;
    color: green;
    padding-top: 4px;
    cursor: pointer;
}

.minus:hover,
.plus:hover {
    color: orange;
}

.plus {
    right: 0;
    border-left: 2px solid green;
}

.minus {
    left: 0;
    border-right: 2px solid green;
}

.btn,
.minus,
.plus {
    transition: all .2s ease;
}

.btn:hover {
    color: yellow;
}

.btn {
    margin-top: .2rem;
}

@media(max-width: 992px) {

    .btn:hover,
    .minus:hover,
    .plus:hover {
        color: green;
    }
}