/* main */
.main-shopping-cart {
    background-color: rgb(249, 249, 249);
    margin-top: 7.2rem;
}

/* ------------------------------------- */

@media (max-width: 992px) {

    .main-shopping-cart {
        margin-top: 3.2rem;
    }
}

@media (max-width: 768px) {

    .main-shopping-cart {
        margin-top: 2.6rem;
    }
}

@media (max-width: 576px) {

    .main-shopping-cart {
        margin-top: 2.3rem;
    }
}

/* ------------------------- title-shopping-cart ------------------------------- */

.title-shopping-cart {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

/* -------------------------------------------------------------------------------------- */

/* ---------------------------------------------- shopping-cart --------------------------------------------- */

/* shopping-cart-product */

.shopping-cart-product {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.shopping-cart-product-img {
    width: 150px;
    height: 170px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.shopping-cart-product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.product-img-special {
    background-color: red;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: .8rem;
    padding: 0 .4rem;
}

.number-of-goods {
    width: 120px;
}

.number-of-goods input {
    border-radius: 20px;
    outline: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
}

/* shopping-cart-price */

.shopping-cart-price {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    position: relative;
}

.shopping-cart-price-btn {
    position: absolute;
    bottom: 20px;
    width: 80%;
    border-radius: 10px;
}

/* -------------------------------------------------------------------------------------------------- */

@media(min-width: 992px) and (max-width: 1200px) {

    .shopping-cart-price h6 {
        font-size: .9rem;
    }
}

@media(max-width: 992px) {
    
    .shopping-cart-price-btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }
}

@media(max-width: 576px) {

    /* shopping-cart-product */

    .shopping-cart-product > div > div:nth-child(2) p {
        font-size: .8rem;
    }

    /* shopping-cart-price */

    .shopping-cart-price {
        overflow: hidden;
    }

    .shopping-cart-price p {
        font-size: .9rem;
    }

}